<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="WebServerIp" value="*" />
      <!-- Comma separated list of ports. SSL needs certificate on the server. -->
      <add key="WebServerPorts" value="6000" />
      <!-- Logging level: debug / warn / error -->
      <add key="LogLevel" value="debug" />
      <add key="WebServerDebug" value="true" />
      <add key="WebServerFolder" value="../../../wwwroot" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>